# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Uploads - ignore uploaded files but keep folder structure
/public/uploads/reports/*
!/public/uploads/reports/.gitkeep

/public/uploads/ktp/*
!/public/uploads/ktp/.gitkeep

/public/uploads/documents/*
!/public/uploads/documents/.gitkeep