@import "tailwindcss";

.form-control {
  position: relative;
}

.form-control input {
  background-color: transparent;
  border: none;
  border-bottom: 2px black solid;
  display: block;
  width: 100%;
  height: 40px;
  font-size: 16px;
  color: black;
  outline: 0;
}

.form-control label {
  position: absolute;
  top: 5px;
  font-weight: 400;
  color: grey;
  font-size: 16px;
  pointer-events: none;
}

.form-control label .span {
  display: inline-block;
  min-width: 5px;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus ~ label .span,
.form-control input:valid ~ label .span {
  transform: translateY(-24px);
  font-size: 14px;
}

.inp_produk_gambar[type="file"]::-webkit-file-upload-button {
  display: none;
}

.inp_produk, .inp_produk_gambar {
  width: 100%;
  height: 35px;
  padding-left: 6px;
  border-radius: 5px;
  margin-top: 5px;
  border: none;
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 3px 4px #D6D7D9, 0 -2px 2px #CECFD1, 0 -3px 2px #FEFEFE, inset 0 0 1px 1px #CECFD1;
  outline: none;
}

.inp_produk:focus {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 3px 4px #D6D7D9, 0 -2px 2px blue, 0 -3px 2px #FEFEFE, inset 0 0 1px 1px blue;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

/* hide eye pw */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

input[type="password"]::-webkit-contacts-auto-fill-button,
input[type="password"]::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  right: 0;
}